.form-step {
  max-width: 450px;
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
}

.form-step .step {
  text-align: center;
  position: relative;
  margin: 0 15px;
}

.form-step .step.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #e7434e;

}

.form-step .step span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background: #e7434e;
  color: #fff;
  margin-bottom: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.form-step .step p {
  font-size: 14px;
}

.payment-form .form-control {
  padding-top: 14px;
}