.booking-list .form-control {
  height: 30px;
  width: 120px;
  background: #f35e4d;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  box-shadow: none;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.booking-list thead {
  background: #dfdfdf;
}

@media(max-width: 576px) {
  .booking-list {
    font-size: 14px
  }

  .booking-list .form-control {
    font-size: 13px;
    width: 90px;
  }
}