.add-boat-form span.error {
  color: red;
  font-size: 14px;
}

.add-boat-form label {
  font-weight: 500;
}

.add-boat-form .form-control {
  height: 45px;
}

.boat-img-upload {
  background: #fff0ee;
  border: 1px solid #f35e4d;
  padding: 8px 20px;
  border-radius: 8px;
  color: #f35e4d;
  /* display: block; */
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  cursor: pointer;
  margin-right: 10px;
}

.boat-img-upload input[type=file]::file-selector-button {
  visibility: hidden;
  position: absolute;
  margin-right: 0px;
}

.boat-img-upload:hover {
  background: #ffe3de;
}

.boat-img-upload i {
  margin-right: 8px;
}

.boat-img-upload input[type=file] {
  position: absolute;
  margin-left: 30px;
  max-width: 200px;
  display: inline-block;
}



@media (max-width: 576px) {
  .boat-img-upload {
    padding: 6px 10px;
    font-size: 14px;
  }

  .boat-img-upload input[type=file] {
    margin-left: 15px;
    max-width: 150px;
  }
}